/* #RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* UTILITY */

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  width: 250px;
  height: 30px;
  background-color: orange;
  border-style: dashed;
}

.rectangle {
  min-height: 200px;
}

.long-box {
  min-width: 500px;
  min-height: 180px;
  background-color: aqua;
  border-style: dashed;
}

.short-box {
  min-width: 250px;
  min-height: 180px;
  background-color: pink;
  border-style: dashed;
}

/* HEADER */

.header-ext {
  min-height: 250px;
  background-color: rgba(0, 153, 255, 0.164);
  display: flex;
  flex-direction: column;
}

.list-flex {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 10px;
  padding-left: 330px;
}

.list-flex {
  display: flex;
  justify-content: space-around;
}

.logo {
  padding-left: 5px;
}

.login {
  display: flex;
  justify-self: flex-end;
  padding-right: 5px;
}

.header-int {
  min-height: 205px;
  background-color: rgba(30, 0, 255, 0.945);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.pink-box {
  min-width: 400px;
  min-height: 150px;
  background-color: rgb(216, 112, 169);
  border-style: dashed;
  align-self: center;
}

/* MAIN */

.color-box {
  display: flex;
  flex-direction: column;
}
.color1 {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-top: 10px;
}

.color2 {
  background-color: lightgray;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.color4 {
  min-height: 400px;
  background-color: lightgrey;
  display: flex;
}

.color4 .box4 {
  min-width: 750px;
  min-height: 370px;
  background-color: green;
  border-style: dashed;
  align-self: center;
  margin-left: 340px;
}
/* FOOTER */

.final {
  min-height: 450px;
  background-color: rgba(0, 0, 0, 0.818);
}

.high-box {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.list-box {
  display: flex;
}

.big {
  min-width: 250px;
  min-height: 350px;
  background-color: rgb(216, 131, 112);
  border-style: dashed;
}

.little {
  min-width: 125px;
  min-height: 350px;
  background-color: rgb(127, 255, 255);
  border-style: dashed;
}

.all {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 2px;
}

.low-box {
  min-width: 750px;
  min-height: 50px;
  background-color: aquamarine;
  border-style: dashed;
}

.inside {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}

.button {
  width: 60px;
  height: 20px;
  background-color: rgb(216, 131, 112);
  border-style: dashed;
}
